# Load Modules

In [2]:
import re
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt  
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
# nltk.download('stopwords')
# nltk.download('punkt')
# nltk.download('averaged_perceptron_tagger')
from tqdm import tqdm
from nltk.corpus import stopwords
stopwordEn = stopwords.words('english')
# from nltk.corpus import wordnet
import pickle
import multiprocessing as mp
import gensim
from gensim import corpora
from gensim.models.ldamulticore import LdaMulticore
from gensim.test.utils import datapath
import pyLDAvis.gensim
import time

print('CPU numbers:',mp.cpu_count())
def _apply_df(args):
    df, func, kwargs = args
    return df.apply(func, **kwargs)
def apply_by_multiprocessing(df, func, **kwargs):
#     print(kwargs)
    workers = kwargs.pop('workers')
    pool = mp.Pool(processes=workers)
    result = pool.map(_apply_df, [(d, func, kwargs) for d in np.array_split(df, workers)])
    pool.close()
    return pd.concat(list(result))
#apply_by_multiprocessing(fullset['Text'], processText, workers=cores)
# New Filter    
def sub_ent(i,length):
    p = float(i/length) #频率作为概率
    logp = np.log2(p)
    return -1 * p * logp
def calc_ent(x):
    if x is not None:
        x_dict = pd.Series(x).value_counts()
        return x_dict.apply(sub_ent, length=len(x)).sum()

stopwordEn = stopwords.words('english')
stopwordEn.extend(['amp'])
whitelist = ["n't", "not", "no"]
def prepareNewsSen(i,lemma=False, gram=1):
    i = re.sub(r'(https|http)?:\/\/(\w|\.|\/|\?|\=|\&|\%)*\b|@\w+|#', '', i, flags=re.MULTILINE) #delete URL, # , and @xxx
    if len(i) > 10: # delete tweet contains less than 5 characters
        samples = int(len(i)* 0.1) # sampling 10% characters
        random_c = np.random.choice(len(i),replace=False, size=samples if samples > 5 else 5) # at least 5 samples
#         # if less than 50% sampled character is not English charater, delete the tweets 
        if sum([1 if (i[s] >= u'\u0041' and i[s] <= u'\u005a') or (i[s] >= u'\u0061' and i[s] <= u'\u007a')\
                or i[s].isspace() or i[s].isdigit() or i[s] in [' ','.',',','!'] else 0 for s in random_c]) > len(random_c)/2 :
#             if detect(i)=='en': #slow but accuracte language detect
                tokens = word_tokenize(i)
                tokens = [lemmaWord(i.lower()) if lemma else i.lower() for i in tokens if (i.lower() not in stopwordEn or i.lower() in whitelist) and i.isalpha()]
                if gram>1: tokens = [i for i in nltk.ngrams(tokens, gram)]
                if len(tokens) > 4: # 2.0 text entropy for 4 different words
                    entropy = calc_ent(tokens)
                    if entropy < 20 or entropy > 2:
                        return tokens #, entropy
dates = range(19,31)

CPU numbers: 32

In [2]:
# Load the whole data, which may exceed memory
# dfs_news, dfs_tweets={},{}
# dates = range(19,31)
# for d in tqdm(dates):
#     with open('./IEEE_news/filtered_data/df_03{}_news_filtered.pickle'.format(d), 'rb') as handle:
#         dfs_news[d] = pickle.load(handle)
# #     with open('./IEEE_tweets/filtered_data/df_03{}_tweets_filtered.pickle'.format(d), 'rb') as handle:
# #         dfs_tweets[d] = pickle.load(handle)

100%|██████████| 12/12 [01:03<00:00,  5.26s/it]

# Data Prepareation
Tweets: extract unique original and retweets

News: sentence level tokenization

In [5]:
def preDailyNews(dfs,d):
    news, published = [],[]
    dfs_news[d] = dfs_news[d].reset_index(drop=True)
    res = apply_by_multiprocessing(dfs[d].loc[:,'text'], sent_tokenize, workers=32)  # sentence level
    # each sentence is corresponding to their published dates
    for i in range(len(res)):
        news.extend(res[i])
        published.extend(np.array([dfs[d].loc[i,'published']]*len(res[i])))
    del dfs[d]
    df_news = pd.DataFrame({'published':published,'full_text':news}) #build a dataframe for each news sentence and dates
    del news, published 
    
    df_news.loc[:,'tokens'] = apply_by_multiprocessing(df_news['full_text'], prepareNewsSen, workers=32) # tokenize. filter
#     del df_news['full_text'] # delete original sentence text
    df_news = df_news.dropna() # delte none tokens
#     https://mkyong.com/python/python-md5-hashing-example/
    df_news.loc[:,'tokens_hash'] = [''.join(i) for i in df_news.tokens] # make token list hashable
    df_news = df_news.drop_duplicates(['tokens_hash']) # delete repetitive tokens
    df_news = df_news.iloc[:,:-1] # delete tokens string
    df_news = df_news.reset_index(drop=True)
    df_news.loc[:,'countTokens'] = [len(i) for i in df_news.tokens]
    return df_news

In [36]:
# Instead of loading the whole data, load and process data of each day
# Use sampling 
dfs_news, dfs_tweets={},{}
daily_news, daily_tweets={},{}
for d in tqdm(dates):
    # News
    with open('./IEEE_news/filtered_data/df_03{}_news_filtered.pickle'.format(d), 'rb') as handle:
        dfs_news[d] = pickle.load(handle)
    # samples
    dfs_news[d] = dfs_news[d].sample(n=int(len(dfs_news[d])* 0.1), random_state=1)
    dfs_news[d] = dfs_news[d].reset_index(drop=True)
    daily_news[d] = preDailyNews(dfs_news,d)

    # Tweets
    with open('./IEEE_tweets/filtered_data/df_03{}_tweets_filtered.pickle'.format(d), 'rb') as handle:
        dfs_tweets[d] = pickle.load(handle)
    daily_tweets[d] = dfs_tweets[d].sample(n=int(len(dfs_tweets[d])* 0.6847363488), random_state=1)
    del dfs_tweets[d] 
    print("Date:",d,' Tweets:',len(daily_tweets[d]),' News:',len(daily_news[d]))

  8%|▊         | 1/12 [01:04<11:47, 64.33s/it]

Date: 19  Tweets: 42076  News: 179990

 17%|█▋        | 2/12 [02:23<11:28, 68.81s/it]

Date: 20  Tweets: 169351  News: 176129

 25%|██▌       | 3/12 [03:04<09:04, 60.48s/it]

Date: 21  Tweets: 185271  News: 99592

 33%|███▎      | 4/12 [03:42<07:09, 53.63s/it]

Date: 22  Tweets: 200616  News: 85771

 42%|████▏     | 5/12 [04:48<06:40, 57.27s/it]

Date: 23  Tweets: 208484  News: 160140

 50%|█████     | 6/12 [05:54<06:00, 60.06s/it]

Date: 24  Tweets: 204924  News: 175879

 58%|█████▊    | 7/12 [07:04<05:14, 62.95s/it]

Date: 25  Tweets: 184380  News: 186965

 67%|██████▋   | 8/12 [08:18<04:25, 66.45s/it]

Date: 26  Tweets: 188601  News: 183878

 75%|███████▌  | 9/12 [09:34<03:27, 69.27s/it]

Date: 27  Tweets: 295009  News: 173192

 83%|████████▎ | 10/12 [10:17<02:02, 61.39s/it]

Date: 28  Tweets: 163046  News: 105143

 92%|█████████▏| 11/12 [10:44<00:50, 50.98s/it]

Date: 29  Tweets: 62255  News: 65656

100%|██████████| 12/12 [10:53<00:00, 54.46s/it]

Date: 30  Tweets: 102618  News: 519

# Save daily results

In [51]:
# Instead of constructing daily_xxx[date], seperate df into individual files
# with open('./filtered_daily/subset_1_filtered_daily_tweets.pickle', 'wb') as handle:
#     pickle.dump(daily_tweets, handle, protocol=pickle.HIGHEST_PROTOCOL)
# with open('./filtered_daily/subset_1_filtered_daily_news.pickle', 'wb') as handle:
#     pickle.dump(daily_news, handle, protocol=pickle.HIGHEST_PROTOCOL)

# # seperate into mulitiple smaller files
# for d in dates:
#     with open(f'./data_combined/ge20_topic20-15-1g/senTo_Tweets_03{d}.pickle', 'wb') as handle:
#         pickle.dump(daily_tweets[d].iloc[:,1:], handle, protocol=pickle.HIGHEST_PROTOCOL)

In [3]:
## Read daily results
with open('./filtered_daily/subset_1_filtered_daily_tweets.pickle', 'rb') as handle:
    daily_tweets =  pickle.load(handle)
with open('./filtered_daily/subset_1_filtered_daily_news.pickle', 'rb') as handle:
    daily_news =  pickle.load(handle)

# Top Sentence for each topic
input: daily_tweets/ daily_news

output: TopTweets.xlsx , TopNews.xlsx

In [5]:
# get top tweets of each topic
def getTopSent(df):
    dfs_res = {}
    for d in tqdm(dates):
        max_topic, top_tokens, top_text = {},{},{}
#         for i in range(len(df[d].sample(n=1000,random_state=1))):
        for i in range(len(df[d])):
            maxTopic = df[d].maxTopic[i]
            if df[d].weightedTopic[i] is not None:
                TopicWeight = df[d].weightedTopic[i][maxTopic]
                if maxTopic in max_topic:
                    if TopicWeight > max_topic[maxTopic]:
                        max_topic[maxTopic] = TopicWeight
                        top_tokens[maxTopic] = df[d].tokens[i]
                        top_text[maxTopic] = df[d].full_text[i]

                else:
                    max_topic[maxTopic] = TopicWeight
                    top_tokens[maxTopic] = df[d].tokens[i]
                    top_text[maxTopic] = df[d].full_text[i]
        dfs_res[d] = pd.DataFrame({'Max Topic Weight':max_topic, 'tokens':top_tokens, 'text':top_text}).sort_index()
    dfs_res = pd.concat(dfs_res).reset_index()
    dfs_res = dfs_res.rename(columns={"level_0":"date","level_1":"topic"})
    dfs_res = dfs_res.sort_values(by='topic')
    return dfs_res

getTopSent(daily_tweets).to_excel('./filtered_daily/TopTweets_10x.xlsx',index=False)
getTopSent(daily_news).to_excel('./filtered_daily/TopNews_10x.xlsx',index=False)

In [58]:
# 重新map ，map前后rows应该不变
for d in dates:
    print(len(daily_news[d]), len(daily_news_text[d]))

179990 179985
176129 176126
99592 99596
85771 85771
160140 160139
175879 175881
186965 186974
183878 183875
173192 173187
105143 105143
65656 65654
519 519

In [384]:
# get top news of each topic
def getTopSent(df):
    dfs_res = {}
    for d in tqdm(dates): # only 10 news samples in Mar 30 
        max_topic, top_tokens, top_text = {},{},{}
#         for i in range(len(df[d].sample(n=1000,random_state=1))):
        for i in range(len(df[d])):
            maxTopic = df[d].maxTopic[i]
            if df[d].weightedTopic[i] is not None:
                TopicWeight = df[d].weightedTopic[i][maxTopic]
                if maxTopic in max_topic:
                    if TopicWeight > max_topic[maxTopic]:
                        max_topic[maxTopic] = TopicWeight
                        top_tokens[maxTopic] = df[d].tokens[i]
                        top_text[maxTopic] = df[d].full_text[i]

                else:
                    max_topic[maxTopic] = TopicWeight
                    top_tokens[maxTopic] = df[d].tokens[i]
                    top_text[maxTopic] = df[d].full_text[i]
        dfs_res[d] = pd.DataFrame({'Max Topic Weight':max_topic, 'tokens':top_tokens}).sort_index()
    return dfs_res
dfs_res = getTopSent(daily_news)
dfs_res = pd.concat(dfs_res).reset_index()
dfs_res = dfs_res.rename(columns={"level_0":"date","level_1":"topic"})
dfs_res = dfs_res.sort_values(by='topic')
dfs_res.to_excel('./filtered_daily/TopNews_10x.xlsx',index=False)

100%|██████████| 10/10 [01:30<00:00,  9.07s/it]

In [6]:
daily_news[23]

,published,tokens,countTokens,weightedTopic,maxTopic,s1,s2,s3,sent
0,2020-03-23 10:33:00+02:00,"[share, single, biggest, sporting, event, worl...",35,"{3: 0.02075416, 13: 0.95348716}",13.0,0.990831,0.005356,0.003812,0
1,2020-03-23 10:33:00+02:00,"[yet, coronavirus, raging, number, casualties,...",11,"{2: 0.34563458, 3: 0.16055493, 8: 0.12975445, ...",2.0,0.485704,0.491525,0.022771,1
2,2020-03-23 10:33:00+02:00,"[boxing, fans, know, scheduled, fights, either...",19,"{2: 0.677087, 4: 0.09893691, 5: 0.18144292}",2.0,0.513363,0.426123,0.060513,0
3,2020-03-23 10:33:00+02:00,"[could, olympics, put, hold, full, year]",6,"{9: 0.40470576, 16: 0.46669933}",16.0,0.855838,0.134548,0.009614,0
4,2020-03-23 10:33:00+02:00,"[far, games, set, begin, july, end, august, to...",15,"{2: 0.62782717, 9: 0.3158965}",2.0,0.425581,0.323854,0.250565,0
...,...,...,...,...,...,...,...,...,...
160135,2020-03-23 18:53:00+02:00,"[got, hymn, books, handed, residents]",5,"{0: 0.010011019, 1: 0.010011019, 2: 0.01001101...",12.0,0.122229,0.641372,0.236400,1
160136,2020-03-23 18:53:00+02:00,"[residents, complex, told, precaution, due, co...",12,"{2: 0.111887515, 9: 0.2882859, 12: 0.53293747}",12.0,0.993098,0.006680,0.000222,0
160137,2020-03-23 18:53:00+02:00,"[audrey, bigley, plays, crowd, balcony, freema...",11,"{13: 0.8093004, 17: 0.10037672}",13.0,0.262991,0.683466,0.053543,1
160138,2020-03-23 18:53:00+02:00,"[picture, audrey, bigley, mrs, bigley, lives, ...",17,"{13: 0.68955386, 19: 0.25406122}",13.0,0.218320,0.402417,0.379263,1
160139,2020-03-23 18:53:00+02:00,"[added, social, afternoon, quite, often, play,...",14,"{5: 0.32599095, 13: 0.6138524}",13.0,0.695617,0.221613,0.082769,0

# Topic Mapping

.get_document_topics gives slightly different values evertime it is called
https://github.com/RaRe-Technologies/gensim/issues/591

In [16]:
ldamodel_all= LdaMulticore.load('./TopicModels/ldamodel_all_filtered.model')

In [17]:
def predictTopic(bow):
    if len(bow)>0:
        res = dict(ldamodel_all[bow]) # vectors of all topics
        return res
    
def maxTopic(res):
    if res is not None:
#         res2id = dict(zip(res.values(),res.keys()))
#         maxid = res2id[pd.Series(res).max()]
        return pd.Series(res).sort_values(ascending=False).index[0]
#         return maxid

In [18]:
#faster methods: use gensim.corpora.dictionary
#Directly use the subset dictionary that used in the previous training of LDA model 
with open('./TopicModels/dictionary_all_filtered.pickle', 'rb') as handle:
    subset_dictionary = pickle.load(handle)
from gensim import corpora
def mapTopics(tokens, df=False):
    topic_weight,topic_mapping = [],[]
    for i in tokens:
        bow = subset_dictionary.doc2bow(i)
        prob = predictTopic(bow)
        topic_weight.append(prob)
        topic_mapping.append(maxTopic(prob))
    if df:
        df_topics = pd.DataFrame({'tokens':tokens,'weightTopic':topic_weight,'maxTopic':topic_mapping})
        df_topics.dropna(inplace=True)
        return df_topics
    else:
        return topic_weight,topic_mapping

In [41]:
# Map topics to tweets
for d in tqdm(dates):
    topic_weight,topic_mapping = mapTopics(daily_tweets[d].tokens)
    daily_tweets[d].loc[:,'weightedTopic'] = topic_weight
    daily_tweets[d].loc[:,'maxTopic'] = topic_mapping

100%|██████████| 12/12 [38:25<00:00, 192.16s/it]

In [42]:
# Map topics to News
for d in tqdm(dates):
    topic_weight,topic_mapping = mapTopics(daily_news[d].tokens)
    daily_news[d].loc[:,'weightedTopic'] = topic_weight
    daily_news[d].loc[:,'maxTopic'] = topic_mapping

100%|██████████| 12/12 [30:52<00:00, 154.40s/it]

In [43]:
del ldamodel_all,subset_dictionary

# Semantic Mapping

In [50]:
import tensorflow as tf
# tf.config.set_visible_devices([], 'GPU') #禁用GPU
with open('../SentimentAnalysis/tokenizer.pickle', 'rb') as handle:
    t = pickle.load(handle)

from tensorflow.keras.models import load_model
model_ge20 = load_model('../SentimentAnalysis/models/model_ge20')

In [51]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

def text2Seq(tokens):
    text_seq = t.texts_to_sequences(tokens)
    return text_seq
def padSeq(seq):
    max_length = 21
    text_pad = pad_sequences(seq, maxlen=max_length, padding='post')
    return text_pad

In [52]:
def mapSentiment(df,d):
    text_seq = text2Seq(df[d].tokens)
    text_pad = padSeq(text_seq)
    pred_sent_prob_ge20 = model_ge20.predict(text_pad)
    pred_sent_ge20 = [np.argmax(i) for i in pred_sent_prob_ge20]
    df_sent = pd.DataFrame(model_ge20.predict(text_pad),columns=['s1','s2','s3'])
    df_sent.loc[:,'sent'] = pred_sent_ge20
    # combine df_sent into daily_news
    df[d] = df[d].reset_index(drop=True)
    df[d] = pd.concat([df[d],df_sent], axis=1, sort=False)
    return df[d]

In [56]:
# News
for d in tqdm(dates):
#     text_seq = text2Seq(daily_news[d].tokens)
#     text_pad = padSeq(text_seq)
#     pred_sent_prob_ge20 = model_ge20.predict(text_pad)
#     pred_sent_ge20 = [np.argmax(i) for i in pred_sent_prob_ge20]
#     df_sent[d] = pd.DataFrame(model_ge20.predict(text_pad),columns=['s1','s2','s3'])
#     df_sent[d].loc[:,'sent'] = pred_sent_ge20
#     # combine df_sent into daily_news
#     daily_news[d] = daily_news[d].reset_index(drop=True)
#     daily_news[d] = pd.concat([daily_news[d],df_sent[d]], axis=1, sort=False)
    daily_news[d] = mapSentiment(daily_news,d)

100%|██████████| 12/12 [02:07<00:00, 10.66s/it]

In [50]:
#Tweets
for d in tqdm(dates):
    daily_tweets[d] = mapSentiment(daily_tweets,d)
    
# Final daily_tweets: combined all the mappings, tokens, and original text

100%|██████████| 12/12 [03:05<00:00, 15.43s/it]

# Semantic + Topics
Data aggregation

input: daily_tweets, daily_news

output: df_topic_sent_tweets, df_topic_sent_news

## 12-hour aggregation

In [10]:
dates = range(19,30)
def getHourSpan(dfs_daily,date_col='created_at'):
    timepoints = ['00:00:00','12:00:00','23:59:59']
    dfs_topic_sent = {}
    time_n = 0
    for d in tqdm(dates):
        dfs_daily[d][date_col] = pd.to_datetime(dfs_daily[d][date_col], utc=True)
        for t in range(len(timepoints)-1):
            sub_df = dfs_daily[d][(dfs_daily[d][date_col] > f'2020-03-{d} {timepoints[t]}') & (dfs_daily[d][date_col] < f'2020-03-{d} {timepoints[t+1]}')]
            topic_sent = sub_df.groupby('maxTopic').apply(lambda x: pd.Series(list(x['sent'])).value_counts())
            if isinstance(topic_sent, pd.Series): 
                df_topic_sent = pd.concat([pd.DataFrame(topic_sent[(i,)]).T for i in range(20) if (i,) in topic_sent.keys()],sort=False).reset_index(drop=True).fillna(0)
            else:
                df_topic_sent = topic_sent.reset_index(drop=True).fillna(0)#23由于不明情况是df不是series
            for i in range(3): # in case some data block doesn't have all 0,1,2 sentiments
                if i not in df_topic_sent.columns:
                    df_topic_sent[i]= 0
            df_topic_sent.loc[:,'TopSent'] = [np.argmax([df_topic_sent[0][i],df_topic_sent[1][i],df_topic_sent[2][i]]) for i in range(len(df_topic_sent))]
            df_topic_sent.loc[:,'timeSpan'] = [time_n]
            df_topic_sent.loc[:,'startTime'] = [f"2020-03{d} {timepoints[t]}"]
            dfs_topic_sent[time_n] = df_topic_sent
            time_n += 1
            
    df = pd.concat([dfs_topic_sent[n] for n in range(time_n)]).reset_index()
    df = df.rename(columns={'index':'TopicID'})
    df.TopicID = df.TopicID + 1
    df.loc[:,'total'] = df[0]+df[1]+df[2]
    df.loc[:,'TopicScore'] = (df[2]-df[0])/df['total']
    df = df.fillna(0)
    return df.drop(['TopSent'],axis=1)
df_topic_sent_tweets = getHourSpan(daily_tweets) 
df_topic_sent_news = getHourSpan(daily_news,'published')

100%|██████████| 11/11 [00:03<00:00,  3.57it/s]
100%|██████████| 11/11 [00:02<00:00,  4.67it/s]

In [12]:
df_topic_sent_tweets

,TopicID,0,1,2,timeSpan,startTime,total,TopicScore
0,1,0.0,0.0,0.0,0,2020-0319 00:00:00,0.0,0.000000
1,1,733.0,308.0,153.0,1,2020-0319 12:00:00,1194.0,-0.485762
2,2,116.0,63.0,98.0,1,2020-0319 12:00:00,277.0,-0.064982
3,3,902.0,184.0,80.0,1,2020-0319 12:00:00,1166.0,-0.704974
4,4,1325.0,294.0,37.0,1,2020-0319 12:00:00,1656.0,-0.777778
...,...,...,...,...,...,...,...,...
378,17,1083.0,230.0,24.0,20,2020-0329 00:00:00,1337.0,-0.792072
379,18,68.0,58.0,12.0,20,2020-0329 00:00:00,138.0,-0.405797
380,19,4041.0,284.0,81.0,20,2020-0329 00:00:00,4406.0,-0.898774
381,20,1737.0,497.0,584.0,20,2020-0329 00:00:00,2818.0,-0.409155
382,1,0.0,0.0,0.0,21,2020-0329 12:00:00,0.0,0.000000

In [7]:
# deal with missing data in couple of time span
def fillEmptySpan(df_daily):
    zeroTopics = df_daily.groupby('timeSpan')['TopicID'].count()
    zeroTopics = zeroTopics[zeroTopics<20]
    for t in list(zeroTopics.index):
        timestamp = list(df_daily[df_daily['timeSpan']==t]['startTime'])[0]
        for topic in [i for i in range(1,21) if i not in df_daily[df_daily.timeSpan==t].TopicID.unique()]:
            df_daily = df_daily.append({'timeSpan': t,'startTime':timestamp, 'TopicID':topic}, ignore_index=True)
    df_daily = df_daily.fillna(0)
    df_daily = df_daily.sort_values(by='startTime')
    df_daily = df_daily.reset_index(drop=True)
    for i in [0,1,2,'total']:
         df_daily[i] = df_daily[i].astype('int64')
    return df_daily
df_topic_sent_news = fillEmptySpan(df_topic_sent_news)
df_topic_sent_tweets = fillEmptySpan(df_topic_sent_tweets)

In [8]:
df_topic_sent_news

     TopicID     0     1    2  timeSpan           startTime  total  TopicScore
0          1   237   156   29         0  2020-0319 00:00:00    422   -0.492891
1         20   863   215  174         0  2020-0319 00:00:00   1252   -0.550319
2         19  2720   236   49         0  2020-0319 00:00:00   3005   -0.888852
3         18    95    77   18         0  2020-0319 00:00:00    190   -0.405263
4         17  9227  2913   93         0  2020-0319 00:00:00  12233   -0.746669
..       ...   ...   ...  ...       ...                 ...    ...         ...
435        2    17    18    2        21  2020-0329 12:00:00     37   -0.405405
436        1   111    73   14        21  2020-0329 12:00:00    198   -0.489899
437       19   940    77   14        21  2020-0329 12:00:00   1031   -0.898157
438        9   132    35    3        21  2020-0329 12:00:00    170   -0.758824
439       20   301    80   69        21  2020-0329 12:00:00    450   -0.515556

[440 rows x 8 columns]

In [286]:
with open('./filtered_daily/df_topic_sent_tweets_filtered_subset_1_12hrs.pickle', 'wb') as handle:
    pickle.dump(df_topic_sent_tweets, handle, protocol=pickle.HIGHEST_PROTOCOL)
with open('./filtered_daily/df_topic_sent_news_filtered_subset_1_12hrs.pickle', 'wb') as handle:
    pickle.dump(df_topic_sent_news, handle, protocol=pickle.HIGHEST_PROTOCOL)

## Daily Aggregation

In [202]:
# for each topics count up sentiment labels
dates = range(19,30) # Only few of news in Mar 30, so we only use [19,29] 11 days
def getSentRes(dfs_daily):
    dfs_topic_sent = {}
    for d in tqdm(dates):
        topic_sent = dfs_daily[d].groupby('maxTopic').apply(lambda x: pd.Series(list(x['sent'])).value_counts())
        if isinstance(topic_sent, pd.Series): 
            df_topic_sent = pd.concat([pd.DataFrame(topic_sent[(i,)]).T for i in range(20) if (i,) in topic_sent.keys()],sort=False).reset_index(drop=True).fillna(0)
        else:
            df_topic_sent = topic_sent.reset_index(drop=True).fillna(0)#23由于不明情况是df不是series
        #  df_topic_sent[[0,1,2]].max(axis=1) # 找出最大Sentiment
        df_topic_sent.loc[:,'TopSent'] = [np.argmax([df_topic_sent[0][i],df_topic_sent[1][i],df_topic_sent[2][i]]) for i in range(len(df_topic_sent))]
        dfs_topic_sent[d] = df_topic_sent
        dfs_topic_sent[d].loc[:,'day']=d
    return dfs_topic_sent

dfs_topic_sent_tweets =  getSentRes(daily_tweets)
dfs_topic_sent_news = getSentRes(daily_news)

100%|██████████| 11/11 [00:00<00:00, 11.23it/s]
100%|██████████| 11/11 [00:00<00:00, 16.52it/s]

In [53]:
def aggSentRes(dfs_topic_sent):
    df = pd.concat([dfs_topic_sent[d] for d in dates]).reset_index()
    df = df.rename(columns={'index':'TopicID'})
    df.TopicID = df.TopicID + 1
    df.loc[:,'total'] = df[0]+df[1]+df[2]
    df.loc[:,'TopicScore'] = (df[2]-df[0])/df['total']
    return df.drop(['TopSent'],axis=1)
df_topic_sent_tweets = aggSentRes(dfs_topic_sent_tweets)
df_topic_sent_news = aggSentRes(dfs_topic_sent_news)

In [248]:
df_topic_sent_tweets.groupby('startTime')['total'].sum()

startTime
2020-0319 00:00:00        0.0
2020-0319 06:00:00        0.0
2020-0319 12:00:00        0.0
2020-0319 18:00:00    42073.0
2020-0320 00:00:00    10220.0
2020-0320 06:00:00    46156.0
2020-0320 12:00:00    57247.0
2020-0320 18:00:00    55724.0
2020-0321 00:00:00    42418.0
2020-0321 06:00:00    42376.0
2020-0321 12:00:00    52779.0
2020-0321 18:00:00    47679.0
2020-0322 00:00:00    41489.0
2020-0322 06:00:00    51088.0
2020-0322 12:00:00    58297.0
2020-0322 18:00:00    49729.0
2020-0323 00:00:00    43444.0
2020-0323 06:00:00    47476.0
2020-0323 12:00:00    64803.0
2020-0323 18:00:00    52740.0
2020-0324 00:00:00    41977.0
2020-0324 06:00:00    48485.0
2020-0324 12:00:00    66710.0
2020-0324 18:00:00    47739.0
2020-0325 00:00:00    35182.0
2020-0325 06:00:00    47140.0
2020-0325 12:00:00    57767.0
2020-0325 18:00:00    44277.0
2020-0326 00:00:00    33539.0
2020-0326 06:00:00     6923.0
2020-0326 12:00:00        0.0
2020-0326 18:00:00        0.0
2020-0327 00:00:00        0.0
2020-0327 06:00:00    44715.0
2020-0327 12:00:00    56956.0
2020-0327 18:00:00    44087.0
2020-0328 00:00:00    34341.0
2020-0328 06:00:00    38764.0
2020-0328 12:00:00    49964.0
2020-0328 18:00:00    39960.0
2020-0329 00:00:00    34818.0
2020-0329 06:00:00    27425.0
2020-0329 12:00:00        0.0
2020-0329 18:00:00        0.0
Name: total, dtype: float64

In [54]:
with open('./filtered_daily/df_topic_sent_tweets_filtered_subset_1.pickle', 'wb') as handle:
    pickle.dump(df_topic_sent_tweets, handle, protocol=pickle.HIGHEST_PROTOCOL)
with open('./filtered_daily/df_topic_sent_news_filtered_subset_1.pickle', 'wb') as handle:
    pickle.dump(df_topic_sent_news, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [55]:
# [np.argmax([df_topic_sent[0][i],df_topic_sent[1][i],df_topic_sent[2][i]]) for i in range(len(df_topic_sent))]
df_topic_sent_news

     TopicID      0      1     2  day  total  TopicScore
0          1    766    516    89   19   1371   -0.493800
1          2    143    275    27   19    445   -0.260674
2          3  33234  10475  1439   19  45148   -0.704239
3          4    968    409    24   19   1401   -0.673804
4          5   4450    371   377   19   5198   -0.783571
..       ...    ...    ...   ...  ...    ...         ...
215       16    417    187     8   29    612   -0.668301
216       17   7419   2150   104   29   9673   -0.756229
217       18     62     58    15   29    135   -0.348148
218       19   3417    288    52   29   3757   -0.895661
219       20   1208    307   285   29   1800   -0.512778

[220 rows x 7 columns]

In [56]:
df_topic_sent_tweets

     TopicID      0     1     2  day  total  TopicScore
0          1    733   308   153   19   1194   -0.485762
1          2    116    63    98   19    277   -0.064982
2          3    902   184    80   19   1166   -0.704974
3          4   1325   294    37   19   1656   -0.777778
4          5  15720  1259  1217   19  18196   -0.797043
..       ...    ...   ...   ...  ...    ...         ...
215       16    518   209    39   29    766   -0.625326
216       17   1083   230    24   29   1337   -0.792072
217       18     68    58    12   29    138   -0.405797
218       19   4042   284    81   29   4407   -0.898797
219       20   1737   497   584   29   2818   -0.409155

[220 rows x 7 columns]